/.idea/
/out/
/mysql-connector-java-8.0.18/src/build/build.iml
/com2008project3.iml
/mysql-connector-java-8.0.18/src/main/core-api/core-api.iml
/mysql-connector-java-8.0.18/src/main/core-impl/core-impl.iml
/mysql-connector-java-8.0.18/src/demo/demo.iml
/mysql-connector-java-8.0.18/src/generated/generated.iml
/mysql-connector-java-8.0.18/src/legacy/legacy.iml
/mysql-connector-java-8.0.18/src/main/protocol-impl/protocol-impl.iml
/mysql-connector-java-8.0.18/src/test/test.iml
/mysql-connector-java-8.0.18/src/main/user-api/user-api.iml
/mysql-connector-java-8.0.18/src/main/user-impl/user-impl.iml
*.pdf